assets/DrivingTasks/Schema/settings.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="http://opends.eu/drivingtask/settings" 
elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://opends.eu/drivingtask/settings">
    
    <xs:element name="settings" type="settings"></xs:element>
    
    <xs:complexType name="settings">
        <xs:all>
            <xs:element name="general" type="general" maxOccurs="1"
                minOccurs="0">
            </xs:element>
            <xs:element name="analyzer" type="analyzer" maxOccurs="1"
                minOccurs="0">
            </xs:element>
            <xs:element name="SIMTD" type="SIMTD" maxOccurs="1"
                minOccurs="0">
            </xs:element>
            <xs:element name="externalVisualization" type="externalVisualization" maxOccurs="1"
                minOccurs="0">
            </xs:element>
            <xs:element name="CANInterface" type="CANInterface"
                maxOccurs="1" minOccurs="0">
            </xs:element>
            <xs:element name="vsimrtiServer" type="vsimrtiServer"
                maxOccurs="1" minOccurs="0">
            </xs:element>


            <xs:element name="settingsControllerServer" type="settingsControllerServer" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="reactionMeasurement"
                type="reactionMeasurement" maxOccurs="1"
                minOccurs="0">
            </xs:element>
            <xs:element name="controllers" type="controllers"
                maxOccurs="1" minOccurs="0">
            </xs:element>

        </xs:all>

    </xs:complexType>

    <xs:complexType name="general">
        <xs:all>
        	<xs:element name="driverName" type="xs:string" maxOccurs="1"
        		minOccurs="0">
        	</xs:element>
        	<xs:element name="showRearviewMirror" type="xs:boolean"
        		maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="showStats" type="xs:boolean" maxOccurs="1"
        		minOccurs="0">
        	</xs:element>
        	<xs:element name="showAnalogIndicators" type="xs:boolean"
        		maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="showDigitalIndicators" type="xs:boolean"
        		maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="showFuelConsumption" type="xs:boolean"
        		maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="numberOfScreens" type="xs:int"
        		maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="angleBetweenAdjacentCameras" type="xs:float" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="frameOfView" type="xs:float" maxOccurs="1"
        		minOccurs="0">
        	</xs:element>
        	<xs:element name="rearviewMirror" type="rearviewMirror"
        		maxOccurs="1" minOccurs="0">
        	</xs:element>

        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="SIMTD">
        <xs:all>
    		<xs:element name="sendDataToHmi" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="startGui" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="hmiNativePath" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="hmiNativeExecutable" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="ip" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="port" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
    	</xs:all>
    </xs:complexType>
    
    <xs:complexType name="externalVisualization">
        <xs:all>
    		<xs:element name="enableConnection" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="ip" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="port" type="xs:int" minOccurs="0" maxOccurs="1"></xs:element>
    		<xs:element name="updateRate" type="xs:int" minOccurs="0" maxOccurs="1"></xs:element>
    		<xs:element name="scalingFactor" type="xs:float" minOccurs="0" maxOccurs="1"></xs:element>
    		<xs:element name="sendPosOriAsOneString" type="xs:boolean" minOccurs="0" maxOccurs="1"></xs:element>
    	</xs:all>
    </xs:complexType>
    
    <xs:complexType name="CANInterface">
        <xs:all>
    		<xs:element name="enableConnection" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="ip" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="port" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="updateRate" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="maxSteeringAngle" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
    	</xs:all>
    </xs:complexType>
    
    
    <xs:complexType name="controllers">
        <xs:all>
    		<xs:element name="joystick" type="joystick" maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="joystick2" type="joystick" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="keyboard" type="keyboard" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="mouse" type="mouse" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="vsimrtiServer">
        <xs:all>
    		<xs:element name="startServer" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="port" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
    	</xs:all>
    </xs:complexType>


    <xs:complexType name="joystick">
        <xs:all>
        	<xs:element name="controllerID" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="steeringAxis" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="invertSteeringAxis" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="pedalAxis" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="invertPedalAxis" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="steeringSensitivityFactor"
        		type="xs:float" maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="pedalSensitivityFactor" type="xs:float" maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="keyAssignments" type="keyAssignments" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:all>
    </xs:complexType>
	
	<xs:complexType name="joystick2">
        <xs:all>
        	<xs:element name="controllerID" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="steeringAxis" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="invertSteeringAxis" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="pedalAxis" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="invertPedalAxis" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="steeringSensitivityFactor"
        		type="xs:float" maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="pedalSensitivityFactor" type="xs:float" maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="keyAssignments" type="keyAssignments" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:all>
    </xs:complexType>


    <xs:complexType name="keyboard">
        <xs:all>
    		<xs:element name="keyAssignments" type="keyAssignments" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="mouse">
        <xs:all>
        	<xs:element name="scrollSensitivityFactor"
        		type="xs:float" maxOccurs="1" minOccurs="0">
        	</xs:element>
        	<xs:element name="minScrollZoom" type="xs:float" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="maxScrollZoom" type="xs:float" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="keyAssignments">
    	<xs:sequence>
    		<xs:element name="keyAssignment" type="keyAssignment" maxOccurs="unbounded" minOccurs="0"></xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="keyAssignment">
    	<xs:attribute name="function" type="xs:string"></xs:attribute>
    	<xs:attribute name="key" type="xs:string"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="reactionMeasurement">
        <xs:all>
    		<xs:element name="groupRed" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="groupGreen" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="groupYellow" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="groupCyan" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="groupBlue" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="groupMagenta" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    	</xs:all>
    </xs:complexType>

    <xs:complexType name="rearviewMirror">
        <xs:all>
    		<xs:element name="viewPortLeft" type="xs:float" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="viewPortRight" type="xs:float" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="viewPortBottom" type="xs:float" maxOccurs="1" minOccurs="0"></xs:element>
    		<xs:element name="viewPortTop" type="xs:float" maxOccurs="1" minOccurs="0"></xs:element>
    	</xs:all>
    </xs:complexType>

    <xs:complexType name="analyzer">
        <xs:all>
            <xs:element name="suppressPDFPopup" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="settingsControllerServer">
        <xs:sequence>
            <xs:element name="startServer" type="xs:boolean" maxOccurs="1" minOccurs="0">
            </xs:element>
            <xs:element name="port" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>